.inlinePickerContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .inlinePicker {
    display: inline-block;
    margin-right: 20px;
  }
  .inlinePickerContainer {
    width:300px;
  }
  .input_items {
    display: "flex";
    align-items: center;
    margin-left:90px;
    margin-bottom: 24px;
    
  } 
 