.inlinePickerContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .inlinePicker {
    display: inline-block;
    margin-right: 20px;
  }
  .inlinePickerContainer {
    width:300px;
  }