.inlinePickerContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .inlinePicker {
    display: inline-block;
    margin-right: 20px;
  }
  .inlinePickerContainer {
    width:300px;
  }
  .input_items {
    display: "flex";
    align-items: center;
    margin-left:90px;
    margin-bottom: 24px;
    
  } 
 .btns button{
  width: 420px;
  margin-top: 270px;
  height: 50px;
  padding-bottom: 0;
 }
 .btns button p {
  font-size: 17px;
 }